@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
    font-family: Poppins;
    height: 100%;
    scroll-padding-top: 19vh;
}

body {
    background-color: #f4f4f4;
    height: 100%;
    width: 100%;
}

.header {
    position: fixed;
    display: flex;
    min-height: 9vh;
    width: 100%;
    background-color: #373737;
    justify-items: center;
    align-items: center;
    color: #cbc7c2;
    font-size: 2.5vh;
    top: 0;
    transition: top 0.4s;
    z-index: 9999;
}

.container {
    display: block;
    height: 100%;
    width: 80%;
    justify-content: center;
    align-content: center;
    padding: 1em;
    margin-right: 10%;
    text-align: center;
    line-height: 110%;
}

@media only screen and (max-width: 600px) {
    .header .container {
      text-align: right;
    }
    .left {
        padding-top: 1000px
    }
  }

.h3 {
    color: #dcd0c0;
}
.initial-name {
    font-size: 4vh;
    color: #a59a73;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 10%;
    font-family: Poppins;
    background: transparent;
}

.highlight{
    color: #ac9d61;
    font-weight: bold;
    margin-left: -10px;
}
a {
    text-decoration: none
}

.mainmenu-btn {
    display: block;
    background: transparent;
    border: none;
    justify-self: center;
    align-self: center;
    margin-left: 10px;
    cursor: pointer;
    height: 100%;
    padding: 1vh ;
}
.btn-hamburger {
    width: 4vh;
    height: 0.5vh;
    background-color: #cbc7c2;
    margin: 1vh;
}

.dropdown-child {
    display: none;
    position: absolute;
    background-color: #373737;
    width: 18vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.0);
    padding: 20px 10px 20px 30px;
    z-index: 1;
    visibility: visible;
    margin: 0px;
    list-style-type: none;
    height: auto;
}

.dropdown-child li {
    position: relative;
    padding: 10px 0px;
    text-transform: uppercase;
    font-size: 2vh;
    color: #f9f9f9;
    margin-left: 0vh;
}

.dropdown-child li :visited {
    color: #f9f9f9;
}

.dropdown-child a{
    color: #f9f9f9;
    width: 100px

}
.dropdown-child a:hover {
    color: #a59a73;
    background-color: #ffffff0e;
    padding: 10px 3px;
    transition: .1s;
}

.mainmenu-btn:hover .btn-hamburger {
    background-color: #a59a73;
    transition: .1s;
}

.dropdown:hover .dropdown-child {
    display: block;
    animation: fadeIn 0.2s;
}

@keyframes fadeIn {
    from {
        opacity : 0
    }
    to {
        opacity: 1
    }
}

.main {
    padding-top: 0px;
    margin: 0px;
}
.main .container {
    background-color: #373737;
    background-image: url(assets/bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    font-family: Poppins;
    width:100% ;
    color: whitesmoke ;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    padding: 0px;  
    font-size: 4vmin;;
    line-height: normal;
    box-align: left;
    padding-top: 5vh;

}

@media only screen and (max-width: 500px) {
    .main .container {
      flex-direction: column;
      padding-top: 15vh;
      margin: 0;
      height: 90vh;
    }
    .main .container .right {
        padding: 2em 1em 2em 4em;
        text-align: center;
        margin-top: 0px;
        line-height: 7vmin;
        margin-right: 2em;
    }
    .main .container .left {
        margin-left: 2em;
        margin-top: 6vh;
        background-size: cover;
    }
    .header .container {
        text-align: right;
    }
}

.main .container .left {
    flex: 1;
    /*background-color: red;*/
    display: block;
    background-image: url(assets/adrian.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 10vmax;
    height: 5vmax;
    padding: 3em 3em 3em 3em;
    align-self: center;
    margin-right: 2em;
}

.main .container .right {
    flex: 2;
    /*background-color: green;*/
    padding: 3em 3em 3em 3em;
    align-self: center;
    text-align: left;
    margin-left: 2em;
    text-transform: capitalize;
}
.main .container .right button{
    padding: 1px;
    font-family: Poppins;
    font-size: 2vh;
    margin: 3vmin 0 5vmin 0;
    height: auto;
    width: auto;
}
.main .container .right h1{
    font-weight: 1000;
}

.aboutme, .contact, .skills {
    margin: 7vmax;
    font-size: 1em;
}

.aboutme, .skills, .contact p{
    text-align: justify;
}

.container-flex{
    flex-direction: column;
    /*border: 1px solid black;*/
    padding: 1rem;
    font-size: smaller;
}

.flex-item{
    /*border: 1px solid black;*/
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    padding: 10px;
    margin: 0px;
    height: fit-content;
    margin-top: 20px;
}

.email{
    /*border: 1px solid black;*/
    width: 230px;
    text-align: center;
    margin-bottom: 15px;
    height: 100px;
    padding-bottom: 0px;
}
.telegram{
    /*border: 1px solid black;*/
    width: 230px;
    text-align: center;
    margin-bottom: 15px;
    height: 100px;
}
.instagram{
    /*border: 1px solid black;*/
    width: 230px;
    text-align: center;
    margin-bottom: 15px;
    height: 100px;
}
.facebook{
    /*border: 1px solid black;*/
    width: 230px;
    text-align: center;
    margin-bottom: 15px;
    height: 100px;
}
.twitter{
    /*border: 1px solid black;*/
    width: 230px;
    text-align: center;
    margin-bottom: 15px;
    height: 100px;
}

.tiktok{
    /*border: 1px solid black;*/
    width: 230px;
    text-align: center;
    margin-bottom: 15px;
    height: 100px;
}

.container-flex .flex-item button{
    padding: 1px 5px 1px 5px;
    margin: 10px;
    color: black;
    font-family: Poppins;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #e9e9e9;
    opacity: 80%;
}
.container-flex .flex-item a{
    color: black;
}
.container-flex .flex-item a:visited{
    color: black;
}
@media only screen and (min-width: 1000px) {
    .email{
        width: 300px;
    } .telegram, .instagram, .facebook, .twitter, .tiktok{   
        width: 300px;
    }
}

@media  only screen and (max-width: 350px) {
    .container-flex .flex-item a{
        font-size: 10px;
        line-height: 0px;
        padding: none;
}}

.footer {
    display: block;
    font-size: small;
    background-color: #373737;
    color: white;
    padding: 5px;
    font-size: 9px;
}
